@{
    ViewBag.PageName = "Viewul Show din Controllerul Articles";
}
<h2>@ViewBag.PageName</h2>
<br />

<h1>@ViewBag.Article</h1>
<p>@ViewBag.Article</p>
<small>@ViewBag.Article</small>

<br />

<a href="/Articles/Index">Afisare articole</a>
