.jucator{
	float:left;
	width:30%;
	border:1px solid lime;
	box-sizing:border-box;
	margin-right:5%;
	padding-left:2%;
	padding-right:2%;
}
.jucator > h2{
	width:70%;
	float:left;}

.tabla{
       display:grid;
       grid-template-columns:auto auto auto;
	width:250px;
	height:250px;
	border:1px solid skyblue;
	margin-bottom:10px;
	padding:5px;
	box-sizing:border-box;
}

.copil{background-color:aqua;
    width:60px; height:60px;
    margin:5px;
    color:blue;
    font-size:24px;
    box-sizing:border-box;
    text-align:center;
    vertical-align:middle;
    line-height:60px;
    font-weight:bold;
    }

.activ{background-color:yellow;


       }

 .stop{background-color:pink;}
 img{width:15%;height:auto;float:right;}
