@model Model_Examen_2.Models.Appointment


<div class="card">

        <div class="card-body">
            <h3 class="card-title alert-success py-3 px-3 rounded-2">@Model.Info</h3>

            <div><i class="bi bi-person"></i><b>Nume medic: </b>@Model.Doctor.Nume</div>
            <div class="card-text"><b>Pret: </b>@Model.Pret</div>
            <div class="card-text"><b>Data programare: </b>@Model.Data</div>
            <br/>
            
       
         <br />
        <div class="d-flex flex-row justify-content-between">

            <a class="btn btn-success" href="/Appointments/Edit/@Model.Id">Editeaza programare</a>

            <form method="post" action="/Appointments/Delete/@Model.Id">

                <button class="btn btn-danger" type="submit">Sterge programare</button>

            </form>

        </div>
     </div>



</div>

<br />
<br />
