

<div class="card">
    <div class="card-body">

        <h3 class="card-title alert-success py-3 px-3 rounded-2">@Model.Info</h3>

        <div><i class="bi bi-person"></i><b>Nume medic: </b>@Model.Doctor.Nume</div>
        <div class="card-text"><b>Pret: </b>@Model.Pret</div>
        <div class="card-text"><b>Data programare: </b>@Model.Data</div>


        <br />


        <a class="btn btn-success d-flex flex-row justify-content-center" href="/Appointments/Show/@Model.Id">Afisare programare</a>

    </div>
</div>


