@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Permanent+Marker&family=Roboto&display=swap');


html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


.field-validation-valid {
    display: none;
}

.validation-summary-valid {
    display: none;
}

.navbar {
    background-color: #dfe6e9 !important;
    border: none !important;
    box-shadow: 0 3px 12px #636e72 !important;
}

a.nav-link {
    color: #2c2c2c !important;
}

a.nav-link:hover {
    color: #00b894 !important;
}

.logoutbtn {
    color: #2c2c2c !important;
}

.logoutbtn:hover {
    color: #00b894 !important;
}

.note-editor .dropdown-toggle::after {
    display: none;
}

.font-montserrat {
    font-family: 'Montserrat', sans-serif;
}

.font-roboto {
    font-family: 'Roboto', sans-serif;
}

.font-logo {
    font-family: 'Permanent Marker', cursive;
}

.font-logo:hover {
    color: #00b894 !important;
}

.footer-position {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
    text-align: center;
    box-shadow: 0 3px 12px #636e72;
}

.truncate {
    /* Required declarations: */
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    /* Limit the text block to x lines */
    -webkit-line-clamp: 5;
}