main{
    --padd-main:1rem;
    padding-left:var(--padd-main);
    padding-right:var(--padd-main);
}

.grid-reviste{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:1rem;
}
.grid-reviste .revista{
    border-radius: 2rem;
    box-shadow: 0px 0px 0.8rem 0.3rem grey;
    overflow: hidden;
}
.grid-reviste .revista:nth-child(6n+1) {
    background-color: lightblue;
}
.grid-reviste .revista:nth-child(6n+2) {
    background-color: lightblue;
}
.grid-reviste .revista:nth-child(6n+3) {
    background-color: lightblue;
}
.grid-reviste .revista:nth-child(6n+4) {
    background-color: white;
}
.grid-reviste .revista:nth-child(6n+5) {
    background-color: white;
}
.grid-reviste .revista:nth-child(6n+6) {
    background-color: white;
}

.val-pret:hover {
    background-color: red;
    font-weight: bold;
    transition: 1s ease-in;
}

.revista{
    position: relative;
    border: 1px solid black;
    border-radius: 10px;
}

.nume {
    font-style: italic;
    text-decoration: underline;
}