@model ArticlesApp.Models.Category


@{
    ViewBag.Title = "Editare categorie";
}

<h2>@ViewBag.Title</h2>


@using (Html.BeginForm(controllerName: "Categories", actionName: "Edit", method: FormMethod.Post, 
       routeValues: new { id = Model.Id }))
    {
        @Html.Label("CategoryName", "Denumire categorie")
        <br />
        @Html.Editor("CategoryName")

        @Html.ValidationMessageFor(m => m.CategoryName, null, new { @class = "text-danger" })
        <br />

        <br />

        <button class="btn btn-success" type="submit">Modifica categoria</button>
    }
    

